/// list-reset() =
/// Remove the margin, padding, and bullets from lists
/// @author jcionci
///
/// @param {None}
///
/// @example scss - Usage
///   ul {
///     @include list-reset();
///   }
///
/// @example css - Output
///   ul {
///     list-style-type: none;
///     margin: 0;
///     padding: 0;
///   }
///
@mixin list-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


/// javascript-listener() =
/// Provide a method for passing parameters to JS
/// @author jhogue
/// @link https://adactio.com/journal/5429
///
/// @param {String} $content
///
/// @example scss - Usage
///  @include javascript-listener('action-hook')
///
/// @example css - Output
///  body:after {
///    content: 'action-hook',
///    display: none;
///    speak: none;
///  }
///
@mixin javascript-listener($content) {
  body:after {
    content: $content;
    display: none;
    speak: none;
  }
}


/// writing-mode() =
/// Bourbon-style helper to output vendor-prefixed rulesets
/// @author jhogue
/// @link http://labs.jensimmons.com/#writing-modes
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/writing-mode
///
/// @param {String} $mode
///   Expects valid writing-mode values
///
/// @require {library} Bourbon
/// @require {function} prefixer
///
/// @example scss - Usage
///   @include writing-mode(vertical-rl);
///
/// @example css - Output
///   -webkit-writing-mode: vertical-rl;
///   writing-mode: vertical-rl;
///
@mixin writing-mode($mode) {
  // 01-24-2017 Webkit vendor prefix still needed
  // 01-24-2017 dropping MS prefix as IE11+ supports the spec
  @include prefixer(writing-mode, $mode, webkit spec);
}
