/// Georgia font stack.
/// @author Bourbon / Thoughbot
$georgia: "Georgia", "Cambria", "Times New Roman", "Times", serif;

/// Helvetica font stack.
/// @author Bourbon / Thoughbot
$helvetica: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;

/// Lucida Grande font stack.
/// @author Bourbon / Thoughbot
$lucida-grande: "Lucida Grande", "Tahoma", "Verdana", "Arial", sans-serif;

/// Monospace font stack.
/// @author J. Hogue
$monospace: 'Source Code Pro', 'Anonymous Pro', Consolas, 'Envy Code R', 'Ubuntu Mono', Inconsolata-g, Inconsolata, monospace;

/// Verdana font stack.
/// @author Bourbon / Thoughbot
$verdana: "Verdana", "Geneva", sans-serif;