// @file colors.scss


// Color palettes using SASS maps
// Link: http://chir.ag/projects/name-that-color/

$palettes: (
  brand: (),
  mono: (
    black-hole: #000,
    snow-white: #fff,
    iron: #d1d6d9,
    dove-gray: #727272,
  ),
  drupal: (
    lochmara: #0077c0,
    anakiwa: #81ceff,
    orient: #00598e,
  ),
  wordpress: (
    jelly-bean: #21759b,
    piper: #d54e21,
    tundora: #464646,
  ),
);

// Getter function for color palettes using SASS maps
// Link: http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
// Usage: color: palette(brand,tan);
@function palette( $palette, $tone ) {

  @if not index(map-keys($palettes), $palette) {
    @error "Palette `#{$palette}` does not exist.";
  }

  @if not index(map-keys(map-get($palettes, $palette)), $tone) {
    @error "There is no `#{$tone}` defined in your `#{$palette}` color map however, its being called in your theme.";
  }

  @return map-deep-get( $palettes, $palette, $tone );
}
