// @file forms.scss

$form-input-border-color: palette(mono, 25);
$form-input-border-focus: palette(mono,33);
$form-input-border-width: 1px;
$form-input-border-radius: $default-border-radius;
$form-input-placeholder-color: palette(mono, 33);
$form-input-color: palette(mono, 66);
$form-input-padding: .25em;

fieldset {
	border: $form-input-border-width solid $form-input-border-color;
	border-radius: $form-input-border-radius;
	margin-bottom: 1em;
	padding: 1em;
}

label {}

#{$all-text-inputs} {
	@include transition( all 250ms ease );
	border: $form-input-border-width solid $form-input-border-color;
	box-sizing: border-box; // Declare explicitly, as form elements do not inherit from HTML declaration in iOS and Android
	border-radius: $form-input-border-radius;
	color: $form-input-color;
	padding: $form-input-padding;
	width: 100%;

	@include placeholder {
		color: $form-input-placeholder-color;
		font-style: italic;
	}

	@include touch-hover() {
		border-color: darken($form-input-border-focus, 10%);
		outline: none;
	}

	&[required]:focus,
	&[required=true]:focus,
	&[required="required"]:focus {
		border-color: palette(brand);
		box-shadow: 0 0 .5em rgba( palette(brand), .5 );
		outline: none;
	}
}

#{$all-text-inputs-focus} {
	color: $form-input-color;
}

textarea {
	overflow: auto;
	padding-left: $form-input-padding;
	vertical-align: top;
	width: 100%;
}

select {
	background-color: palette(mono, white);
	background-image: none;
	border: $form-input-border-width solid $form-input-border-color;
	border-radius: $form-input-border-radius;
	color: $form-input-color;
	padding: $form-input-padding;
	width: 100%;
}

input[type="checkbox"],
input[type="radio"] {}

input[type="file"] {
	line-height: 1;
}


// ! ===== Special rules for older Safari and iOS =====
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"] { -webkit-appearance: textfield; }
