// @file forms.scss

$form-input-border-color: palette(mono, 25);
$form-input-border-focus: palette(mono,33);
$form-input-border-width: 1px;
$form-input-border-radius: $default-border-radius;
$form-input-placeholder-color: palette(mono, 33);
$form-input-color: palette(mono, 66);
$form-input-padding: .25em;

fieldset {
	border: $form-input-border-width solid $form-input-border-color;
	border-radius: $form-input-border-radius;
	margin-bottom: 1em;
	padding: 1em;
}

label {}

#{$all-text-inputs} {
	border: $form-input-border-width solid $form-input-border-color;
	border-radius: $form-input-border-radius;
	color: $form-input-color;
	padding: $form-input-padding;
	width: 100%;
	@include transition( all 250ms ease );

	@include placeholder {
		color: $form-input-placeholder-color;
		font-style: italic;
	}
	
	@include touch-hover() {
		border-color: darken($form-input-border-focus, 10%);
		outline: none;
	}
	
	&[required]:focus, 
	&[required=true]:focus, 
	&[required="required"]:focus {
		border-color: palette(brand);
		box-shadow: 0 0 .5em rgba( palette(brand), .5 );
		outline: none;
	}
}

#{$all-text-inputs-focus} {
	border-color: $form-input-border-focus;
	color: $form-input-color;
	outline: none;
}

button[disabled],
.button.disabled, 
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	cursor: not-allowed;
}

textarea {
	overflow: auto;
	padding-left: $form-input-padding;
	vertical-align: top;
	width: 100%;
}

select {
	background-color: palette(mono, white);
	background-image: none;
	border: $form-input-border-width solid $form-input-border-color;
	border-radius: $form-input-border-radius;
	color: $form-input-color;
	padding: $form-input-padding;
	width: 100%;
}

input[type="checkbox"],
input[type="radio"] {}

input[type="file"] {
	line-height: 1;
}


// ! ===== Special rules for older Safari and iOS =====
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="number"] { -webkit-appearance: textfield; }


// Forms with a class .form and some helpful patterns that come up often
.form {
	@include clearfix();

	// Single line input and button pattern. Button needs to be in the markup first
	/*<div class="form--singleline">
		<button class="button button--primary">Go</button>
		<span class="form--overflow"><input type="search" class="form--input" placeholder="Search the site&hellip;"></span>
	</div>*/
	&--singleline .button { float: right; }

	&--singleline &--overflow {
		display: block;
		padding-right: .5em;
		overflow: hidden;
	}

	&--singleline &--optional { float: left; }

	&--singleline input { width: 100%; }

	// Position elements over an input
	/*<div class="form--position-wrap">
		<input type="search" class="form--input" placeholder="Search the site…">
		<button class="form--position--element"><span class="fa fa-search" aria-hidden="true"><span>Search</span></span></button>
	</div>*/
	&--position-wrap {
		position: relative;
		z-index: 1;
	}
	
	&--position--element {
		position: absolute; 
			// add positioning parameters to the particular element
		z-index: 2;
	}
}