// @file navigation.scss
.mainnav {
	background-color: palette(mono, 25);

	&--list {
		text-align: center;

		li { display: inline-block; }
	}

	&--link {
		background-color: palette(mono, 25);
		border: none;
		color: palette(brand);
		padding: ($vert-line-height/2);
		
		@include touch-hover() {
			background-color: palette(mono, 10);
			color: palette(mono,66);
		}
		
		&__disabled {
			background-color: palette(mono, white);
			color: palette(mono,75);
			cursor: default;
		}
	}
}